@import "global";
html {
  scroll-behavior: smooth;
  scroll-padding-top: var(--s-header-height);
}
body {
  --wp--style--block-gap: var(--s-space);
  color: var(--wp--preset--color--foreground);
  background-color: var(--wp--preset--color--background);
  font-size: var(--wp--preset--font-size--normal);
  font-family: var(--wp--preset--font-family--dm-sans);
  overflow-x: hidden;
}
nav,
button,
label,
header,
.wp-block-post-terms {
  color: var(--wp--preset--color--bold);
}
a {
  color: var(--wp--preset--color--bold);
  &:hover {
    opacity: 0.8;
    text-decoration: underline 0.08em;
    text-underline-offset: 0.1em;
    color: var(--wp--preset--color--primary);
  }
  &:active {
    opacity: 0.6;
  }
}
.wp-site-blocks {
  display: flex;
  height: 100%;
  flex-direction: column;
  .admin-bar & {
    height: calc(100% - var(--wp-admin--admin-bar--height));
  }
}

.site-header {
  min-height: var(--s-header-height);
  .has-background {
    padding-top: 0;
    padding-bottom: 0;
    height: var(--s-header-height);
  }
  .is-fixed {
    position: fixed;
    backdrop-filter: blur(10px);
    top: 0;
    left: 0;
    right: 0;
    z-index: 8000;
    margin-left: 0 !important;
    margin-right: 0 !important;
    width: 100vw;
    height: var(--s-header-height);
    .admin-bar & {
      top: var(--wp-admin--admin-bar--height);
    }
  }
}
@media (max-width: 600px) {
  #wpadminbar {
    position: fixed;
    width: 100vw;
  }
}

@media (max-width: 599px) {
  .wp-block-navigation__responsive-container {
    transition: 0.3s opacity;
    display: flex;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    font-size: 1.125em;
    .wp-block-navigation__responsive-container-content {
      padding-top: 2rem;
      transition: 0.3s padding;
    }
    &.is-menu-open {
      min-height: 100vh;
      max-height: 100vh;
      opacity: 1;
      padding: 20px 20px 20px 30px;
      .wp-block-navigation__responsive-container-content {
        padding-top: 3rem;
      }
    }
  }
}
.site-desc {
  padding-top: 2px;
}
.site-footer {
  margin-top: auto;
}
