<!-- wp:template-part {"slug":"header","theme":"pai","tagName":"header","className":"site-header"} /-->
<!-- wp:group {"tagName":"main","layout":{"inherit":true}} -->
<main class="wp-block-group">
	<!-- wp:cover {"url":"https://seedcdn.com/demo/pai/banner-1.webp","id":6,"dimRatio":0,"focalPoint":{"x":"0.40","y":"0.60"},"minHeight":50,"minHeightUnit":"vh","isDark":false,"align":"full"} -->
	<div class="wp-block-cover alignfull is-light" style="min-height:50vh"><span aria-hidden="true" class="wp-block-cover__background has-background-dim-0 has-background-dim"></span><img class="wp-block-cover__image-background wp-image-6" alt="" src="https://seedcdn.com/demo/pai/banner-1.webp" style="object-position:40% 60%" data-object-fit="cover" data-object-position="40% 60%" />
		<div class="wp-block-cover__inner-container">
			<!-- wp:heading {"textAlign":"center","style":{"typography":{"fontSize":"3rem"}},"textColor":"background"} -->
			<h2 class="has-text-align-center has-background-color has-text-color" style="font-size:3rem">P A I</h2>
			<!-- /wp:heading -->
			<!-- wp:paragraph {"align":"center","textColor":"background","fontSize":"small"} -->
			<p class="has-text-align-center has-background-color has-text-color has-small-font-size"><strong>FULL SITE EDITING THEME FOR RESORT &amp; HOMESTAY</strong></p>
			<!-- /wp:paragraph -->
		</div>
	</div>
	<!-- /wp:cover -->
	<!-- wp:group {"align":"full","backgroundColor":"background","className":"is-style-default","layout":{"inherit":true}} -->
	<div class="wp-block-group alignfull is-style-default has-background-background-color has-background" id="story">
		<!-- wp:heading {"textAlign":"center","style":{"typography":{"textTransform":"uppercase"}}} -->
		<h2 class="has-text-align-center" style="text-transform:uppercase">Welcome to PAI</h2>
		<!-- /wp:heading -->
		<!-- wp:paragraph {"align":"center"} -->
		<p class="has-text-align-center"><strong>Pai</strong> in Thai language means bamboo (ไผ่) or the name of village in northern Thailand (ปาย) that our Seed Webs company is located. We create this Full Site Editing WordPress theme for resort &amp; homestay businesses. This theme is free and open source, distributed under the terms of the GNU General Public License as published by the Free Software Foundation.</p>
		<!-- /wp:paragraph -->
		<!-- wp:media-text {"mediaId":52,"mediaLink":"http://pai.local/intro-1/","mediaType":"image","imageFill":false} -->
		<div class="wp-block-media-text alignwide is-stacked-on-mobile">
			<figure class="wp-block-media-text__media"><img src="https://seedcdn.com/demo/pai/intro-1.webp" alt="" class="wp-image-52 size-full" /></figure>
			<div class="wp-block-media-text__content">
				<!-- wp:heading -->
				<h2>Lorem ipsum dolor sit amet</h2>
				<!-- /wp:heading -->
				<!-- wp:paragraph -->
				<p>Morbi placerat elit fermentum, cursus tellus id, congue metus. Phasellus elementum sodales lacus, id facilisis justo. Nulla at blandit erat. Curabitur finibus at sem ut ultrices. Morbi tellus felis, consectetur ac mi sed, laoreet facilisis ipsum. Integer sit amet tortor finibus felis tristique congue eget eu massa. </p>
				<!-- /wp:paragraph -->
				<!-- wp:paragraph -->
				<p>Suspendisse potenti. Aenean eu iaculis ex. Morbi accumsan turpis eu ligula auctor euismod. Nam sit amet imperdiet ipsum. Vestibulum cursus sapien ipsum, eu vestibulum tortor pharetra vulputate.</p>
				<!-- /wp:paragraph -->
			</div>
		</div>
		<!-- /wp:media-text -->
		<!-- wp:media-text {"mediaPosition":"right","mediaId":51,"mediaLink":"http://pai.local/intro-2/","mediaType":"image","imageFill":false,"className":"is-style-botom-space"} -->
		<div class="wp-block-media-text alignwide has-media-on-the-right is-stacked-on-mobile is-style-botom-space">
			<figure class="wp-block-media-text__media"><img src="https://seedcdn.com/demo/pai/intro-2.webp" alt="" class="wp-image-51 size-full" /></figure>
			<div class="wp-block-media-text__content">
				<!-- wp:heading -->
				<h2>Lorem ipsum dolor sit amet</h2>
				<!-- /wp:heading -->
				<!-- wp:paragraph -->
				<p>Morbi placerat elit fermentum, cursus tellus id, congue metus. Phasellus elementum sodales lacus, id facilisis justo. Nulla at blandit erat. Curabitur finibus at sem ut ultrices. Morbi tellus felis, consectetur ac mi sed, laoreet facilisis ipsum. Integer sit amet tortor finibus felis tristique congue eget eu massa. </p>
				<!-- /wp:paragraph -->
				<!-- wp:paragraph -->
				<p>Suspendisse potenti. Aenean eu iaculis ex. Morbi accumsan turpis eu ligula auctor euismod. Nam sit amet imperdiet ipsum. Vestibulum cursus sapien ipsum, eu vestibulum tortor pharetra vulputate.</p>
				<!-- /wp:paragraph -->
			</div>
		</div>
		<!-- /wp:media-text -->
		<!-- wp:media-text {"align":"full","mediaId":41,"mediaLink":"http://pai.local/story-1/","mediaType":"image","imageFill":false,"style":{"color":{"background":"#e7e1d5"}}} -->
		<div class="wp-block-media-text alignfull is-stacked-on-mobile has-background" style="background-color:#e7e1d5">
			<figure class="wp-block-media-text__media"><img src="https://seedcdn.com/demo/pai/story-1.webp" alt="" class="wp-image-41 size-full" /></figure>
			<div class="wp-block-media-text__content">
				<!-- wp:heading -->
				<h2>Lorem ipsum dolor sit amet</h2>
				<!-- /wp:heading -->
				<!-- wp:paragraph -->
				<p>Morbi placerat elit fermentum, cursus tellus id, congue metus. Phasellus elementum sodales lacus, id facilisis justo. Nulla at blandit erat. Curabitur finibus at sem ut ultrices. Morbi tellus felis, consectetur ac mi sed, laoreet facilisis ipsum. Integer sit amet tortor finibus felis tristique congue eget eu massa. </p>
				<!-- /wp:paragraph -->
				<!-- wp:paragraph -->
				<p>Suspendisse potenti. Aenean eu iaculis ex. Morbi accumsan turpis eu ligula auctor euismod. Nam sit amet imperdiet ipsum. Vestibulum cursus sapien ipsum, eu vestibulum tortor pharetra vulputate.</p>
				<!-- /wp:paragraph -->
			</div>
		</div>
		<!-- /wp:media-text -->
		<!-- wp:media-text {"align":"full","mediaPosition":"right","mediaId":42,"mediaLink":"http://pai.local/story-2/","mediaType":"image","imageFill":false,"style":{"color":{"background":"#e7e1d5"}}} -->
		<div class="wp-block-media-text alignfull has-media-on-the-right is-stacked-on-mobile has-background" style="background-color:#e7e1d5">
			<figure class="wp-block-media-text__media"><img src="https://seedcdn.com/demo/pai/story-2.webp" alt="" class="wp-image-42 size-full" /></figure>
			<div class="wp-block-media-text__content">
				<!-- wp:heading -->
				<h2>Lorem ipsum dolor sit amet</h2>
				<!-- /wp:heading -->
				<!-- wp:paragraph -->
				<p>Morbi placerat elit fermentum, cursus tellus id, congue metus. Phasellus elementum sodales lacus, id facilisis justo. Nulla at blandit erat. Curabitur finibus at sem ut ultrices. Morbi tellus felis, consectetur ac mi sed, laoreet facilisis ipsum. Integer sit amet tortor finibus felis tristique congue eget eu massa. </p>
				<!-- /wp:paragraph -->
				<!-- wp:paragraph -->
				<p>Suspendisse potenti. Aenean eu iaculis ex. Morbi accumsan turpis eu ligula auctor euismod. Nam sit amet imperdiet ipsum. Vestibulum cursus sapien ipsum, eu vestibulum tortor pharetra vulputate.</p>
				<!-- /wp:paragraph -->
			</div>
		</div>
		<!-- /wp:media-text -->
	</div>
	<!-- /wp:group -->
	<!-- wp:group {"align":"wide","className":"is-style-botom-space"} -->
	<div class="wp-block-group alignwide is-style-botom-space" id="rate">
		<!-- wp:group {"backgroundColor":"background","className":"is-style-default","layout":{"inherit":false}} -->
		<div class="wp-block-group is-style-default has-background-background-color has-background">
			<!-- wp:heading {"textAlign":"center","style":{"typography":{"textTransform":"uppercase"}}} -->
			<h2 class="has-text-align-center" style="text-transform:uppercase">Room Rate</h2>
			<!-- /wp:heading -->
			<!-- wp:paragraph {"align":"center"} -->
			<p class="has-text-align-center">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Price is per night.</p>
			<!-- /wp:paragraph -->
		</div>
		<!-- /wp:group -->
		<!-- wp:columns {"align":"wide"} -->
		<div class="wp-block-columns alignwide">
			<!-- wp:column {"backgroundColor":"background"} -->
			<div class="wp-block-column has-background-background-color has-background">
				<!-- wp:group {"style":{"spacing":{"padding":{"top":"16px","right":"16px","bottom":"16px","left":"16px"}},"border":{"top":{"color":"#e8dcc4","style":"solid","width":"1px"},"right":{"color":"#e8dcc4","style":"solid","width":"1px"},"bottom":{"style":"none","width":"0px"},"left":{"color":"#e8dcc4","style":"solid","width":"1px"}}}} -->
				<div class="wp-block-group" style="border-top-color:#e8dcc4;border-top-style:solid;border-top-width:1px;border-right-color:#e8dcc4;border-right-style:solid;border-right-width:1px;border-bottom-style:none;border-bottom-width:0px;border-left-color:#e8dcc4;border-left-style:solid;border-left-width:1px;padding-top:16px;padding-right:16px;padding-bottom:16px;padding-left:16px">
					<!-- wp:heading {"style":{"spacing":{"margin":{"top":"0px","right":"0px","bottom":"6px","left":"0px"}},"typography":{"fontStyle":"normal","fontWeight":"400"}},"fontSize":"medium"} -->
					<h2 class="has-medium-font-size" style="margin-top:0px;margin-right:0px;margin-bottom:6px;margin-left:0px;font-style:normal;font-weight:400">Standard</h2>
					<!-- /wp:heading -->
					<!-- wp:heading {"level":3,"style":{"spacing":{"margin":{"top":"0px","right":"0px","bottom":"0px","left":"0px"}},"typography":{"fontStyle":"normal","fontWeight":"400","fontSize":"26px"}}} -->
					<h3 style="margin-top:0px;margin-right:0px;margin-bottom:0px;margin-left:0px;font-size:26px;font-style:normal;font-weight:400">THB 1,500</h3>
					<!-- /wp:heading -->
				</div>
				<!-- /wp:group -->
				<!-- wp:image {"id":79,"sizeSlug":"large","linkDestination":"none","className":"is-style-block"} -->
				<figure class="wp-block-image size-large is-style-block"><img src="https://seedcdn.com/demo/pai/room-1-1024x694.webp" alt="" class="wp-image-79" /></figure>
				<!-- /wp:image -->
			</div>
			<!-- /wp:column -->
			<!-- wp:column {"backgroundColor":"background"} -->
			<div class="wp-block-column has-background-background-color has-background">
				<!-- wp:group {"style":{"spacing":{"padding":{"top":"16px","right":"16px","bottom":"16px","left":"16px"}},"border":{"top":{"color":"#e8dcc4","style":"solid","width":"1px"},"right":{"color":"#e8dcc4","style":"solid","width":"1px"},"bottom":{"style":"none","width":"0px"},"left":{"color":"#e8dcc4","style":"solid","width":"1px"}}}} -->
				<div class="wp-block-group" style="border-top-color:#e8dcc4;border-top-style:solid;border-top-width:1px;border-right-color:#e8dcc4;border-right-style:solid;border-right-width:1px;border-bottom-style:none;border-bottom-width:0px;border-left-color:#e8dcc4;border-left-style:solid;border-left-width:1px;padding-top:16px;padding-right:16px;padding-bottom:16px;padding-left:16px">
					<!-- wp:heading {"style":{"spacing":{"margin":{"top":"0px","right":"0px","bottom":"6px","left":"0px"}},"typography":{"fontStyle":"normal","fontWeight":"400"}},"fontSize":"medium"} -->
					<h2 class="has-medium-font-size" style="margin-top:0px;margin-right:0px;margin-bottom:6px;margin-left:0px;font-style:normal;font-weight:400">Superior</h2>
					<!-- /wp:heading -->
					<!-- wp:heading {"level":3,"style":{"spacing":{"margin":{"top":"0px","right":"0px","bottom":"0px","left":"0px"}},"typography":{"fontStyle":"normal","fontWeight":"400","fontSize":"26px"}}} -->
					<h3 style="margin-top:0px;margin-right:0px;margin-bottom:0px;margin-left:0px;font-size:26px;font-style:normal;font-weight:400">THB 2,000</h3>
					<!-- /wp:heading -->
				</div>
				<!-- /wp:group -->
				<!-- wp:image {"id":80,"sizeSlug":"large","linkDestination":"none","className":"is-style-block"} -->
				<figure class="wp-block-image size-large is-style-block"><img src="https://seedcdn.com/demo/pai/room-2-1024x694.webp" alt="" class="wp-image-80" /></figure>
				<!-- /wp:image -->
			</div>
			<!-- /wp:column -->
			<!-- wp:column {"backgroundColor":"background"} -->
			<div class="wp-block-column has-background-background-color has-background">
				<!-- wp:group {"style":{"spacing":{"padding":{"top":"16px","right":"16px","bottom":"16px","left":"16px"}},"border":{"top":{"color":"#e8dcc4","style":"solid","width":"1px"},"right":{"color":"#e8dcc4","style":"solid","width":"1px"},"bottom":{"style":"none","width":"0px"},"left":{"color":"#e8dcc4","style":"solid","width":"1px"}}}} -->
				<div class="wp-block-group" style="border-top-color:#e8dcc4;border-top-style:solid;border-top-width:1px;border-right-color:#e8dcc4;border-right-style:solid;border-right-width:1px;border-bottom-style:none;border-bottom-width:0px;border-left-color:#e8dcc4;border-left-style:solid;border-left-width:1px;padding-top:16px;padding-right:16px;padding-bottom:16px;padding-left:16px">
					<!-- wp:heading {"style":{"spacing":{"margin":{"top":"0px","right":"0px","bottom":"6px","left":"0px"}},"typography":{"fontStyle":"normal","fontWeight":"400"}},"fontSize":"medium"} -->
					<h2 class="has-medium-font-size" style="margin-top:0px;margin-right:0px;margin-bottom:6px;margin-left:0px;font-style:normal;font-weight:400">Deluxe</h2>
					<!-- /wp:heading -->
					<!-- wp:heading {"level":4,"style":{"spacing":{"margin":{"top":"0px","right":"0px","bottom":"0px","left":"0px"}},"typography":{"fontStyle":"normal","fontWeight":"400","fontSize":"26px"}}} -->
					<h4 style="margin-top:0px;margin-right:0px;margin-bottom:0px;margin-left:0px;font-size:26px;font-style:normal;font-weight:400">THB 2,500</h4>
					<!-- /wp:heading -->
				</div>
				<!-- /wp:group -->
				<!-- wp:image {"id":81,"sizeSlug":"large","linkDestination":"none","className":"is-style-block"} -->
				<figure class="wp-block-image size-large is-style-block"><img src="https://seedcdn.com/demo/pai/room-3-1024x694.webp" alt="" class="wp-image-81" /></figure>
				<!-- /wp:image -->
			</div>
			<!-- /wp:column -->
		</div>
		<!-- /wp:columns -->
	</div>
	<!-- /wp:group -->
	<!-- wp:group {"align":"wide"} -->
	<div class="wp-block-group alignwide" id="gallery">
		<!-- wp:group {"backgroundColor":"background"} -->
		<div class="wp-block-group has-background-background-color has-background">
			<!-- wp:heading {"textAlign":"center"} -->
			<h2 class="has-text-align-center">GALLERY</h2>
			<!-- /wp:heading -->
			<!-- wp:paragraph {"align":"center"} -->
			<p class="has-text-align-center">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </p>
			<!-- /wp:paragraph -->
		</div>
		<!-- /wp:group -->
		<!-- wp:gallery {"columns":4,"linkTo":"media"} -->
		<figure class="wp-block-gallery has-nested-images columns-4 is-cropped">
			<!-- wp:image {"id":126,"sizeSlug":"large","linkDestination":"media"} -->
			<figure class="wp-block-image size-large"><a href="https://seedcdn.com/demo/pai/gallery-1.webp"><img src="https://seedcdn.com/demo/pai/gallery-1.webp" alt="" /></a></figure>
			<!-- /wp:image -->
			<!-- wp:image {"id":125,"sizeSlug":"large","linkDestination":"media"} -->
			<figure class="wp-block-image size-large"><a href="https://seedcdn.com/demo/pai/gallery-2.webp"><img src="https://seedcdn.com/demo/pai/gallery-2.webp" alt="" /></a></figure>
			<!-- /wp:image -->
			<!-- wp:image {"id":127,"sizeSlug":"large","linkDestination":"media"} -->
			<figure class="wp-block-image size-large"><a href="https://seedcdn.com/demo/pai/gallery-3.webp"><img src="https://seedcdn.com/demo/pai/gallery-3.webp" alt="" /></a></figure>
			<!-- /wp:image -->
			<!-- wp:image {"id":128,"sizeSlug":"large","linkDestination":"media"} -->
			<figure class="wp-block-image size-large"><a href="https://seedcdn.com/demo/pai/gallery-4.webp"><img src="https://seedcdn.com/demo/pai/gallery-4.webp" alt="" /></a></figure>
			<!-- /wp:image -->
			<!-- wp:image {"id":129,"sizeSlug":"large","linkDestination":"media"} -->
			<figure class="wp-block-image size-large"><a href="https://seedcdn.com/demo/pai/gallery-5.webp"><img src="https://seedcdn.com/demo/pai/gallery-5.webp" alt="" /></a></figure>
			<!-- /wp:image -->
			<!-- wp:image {"id":130,"sizeSlug":"large","linkDestination":"media"} -->
			<figure class="wp-block-image size-large"><a href="https://seedcdn.com/demo/pai/gallery-6.webp"><img src="https://seedcdn.com/demo/pai/gallery-6.webp" alt="" /></a></figure>
			<!-- /wp:image -->
			<!-- wp:image {"id":131,"sizeSlug":"large","linkDestination":"media"} -->
			<figure class="wp-block-image size-large"><a href="https://seedcdn.com/demo/pai/gallery-7.webp"><img src="https://seedcdn.com/demo/pai/gallery-7.webp" alt="" /></a></figure>
			<!-- /wp:image -->
			<!-- wp:image {"id":132,"sizeSlug":"large","linkDestination":"media"} -->
			<figure class="wp-block-image size-large"><a href="https://seedcdn.com/demo/pai/gallery-8.webp"><img src="https://seedcdn.com/demo/pai/gallery-8.webp" alt="" /></a></figure>
			<!-- /wp:image -->
		</figure>
		<!-- /wp:gallery -->
		<!-- wp:spacer {"height":"40px","className":"is-style-botom-space"} -->
		<div style="height:40px" aria-hidden="true" class="wp-block-spacer is-style-botom-space"></div>
		<!-- /wp:spacer -->
	</div>
	<!-- /wp:group -->
	<!-- wp:group {"align":"wide"} -->
	<div class="wp-block-group alignwide" id="contact">
		<!-- wp:group {"backgroundColor":"background"} -->
		<div class="wp-block-group has-background-background-color has-background">
			<!-- wp:heading {"textAlign":"center"} -->
			<h2 class="has-text-align-center">CONTACT &amp; BOOK NOW</h2>
			<!-- /wp:heading -->
			<!-- wp:paragraph {"align":"center"} -->
			<p class="has-text-align-center">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </p>
			<!-- /wp:paragraph -->
		</div>
		<!-- /wp:group -->
		<!-- wp:spacer {"height":"40px","className":"is-style-botom-space"} -->
		<div style="height:40px" aria-hidden="true" class="wp-block-spacer is-style-botom-space"></div>
		<!-- /wp:spacer -->
	</div>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","theme":"pai","tagName":"footer","className":"site-footer"} /-->